body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  border: none;
}
.container {
  margin-top: 100px;
}
.card-category {
  margin-top: 80px;
}
.category-box {
  width: 600px;
}
.link {
   all: unset
}
.link:hover {
   all: unset;
}
.main-course {
  margin-left: 100px;
}
.dashboard {
  display: flex;
}
.student-course {
  display: flex;
}